<div class="container">
    <form (ngSubmit)="ok()">
        <div class="form">
            <input placeholder="nombre" [(ngModel)]="nombre" name="nombre" required>
            <input type="tamanio" placeholder="tamanio" [(ngModel)]="tamanio" name="anio">
            <input placeholder="ubicacion" [(ngModel)]="ubicacion" name="ubicacion">
            <select [(ngModel)]="tipo" name="tipo">
                <option [value]="tipo.value" *ngFor="let tipo of tiposDato">{{tipo.viewValue}}</option>
            </select>
            <button style="width: 100%;">Aceptar</button>
        </div>
    </form>
    <hr>
    <div>
        <button (click)="recargar()">Recargar</button>
        <hr>
        <div>
            <h1>Arbol</h1>
            <h2>{{arbol.nombre}} - {{arbol.tamanio}} - {{arbol.ubicacion}} </h2>
            <table>
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>tamanio</th>
                        <th>ubicacion</th>
                        <th>archivos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resp of arbol.archivos">
                        <td>{{ resp.nombre }}</td>
                        <td>{{ resp.tamanio }}</td>
                        <td>/ {{ resp.ubicacion }} . {{ resp.tipo }} </td>
                        <td>{{ resp.tipo }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
