.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

button{
    padding: 2%;
    margin: 25px;
}